<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Labs System ITI project</display-name>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <!--Servlets-->

    <!--Admin-->
        <!--Trainee_Of_Admin-->
    <servlet>
        <servlet-name>admin.controller.Trainee</servlet-name>
        <servlet-class>admin.controller.trainee.TraineeListView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin.controller.Trainee</servlet-name>
        <url-pattern>/admin/trainee</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Create Trainee</servlet-name>
        <servlet-class>admin.controller.trainee.CreateTrainee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Create Trainee</servlet-name>
        <url-pattern>/admin/trainee/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Edit Trainee</servlet-name>
        <servlet-class>admin.controller.trainee.EditTrainee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Edit Trainee</servlet-name>
        <url-pattern>/admin/trainee/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Deactivate Trainee</servlet-name>
        <servlet-class>admin.controller.trainee.DeactivateTrainee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Deactivate Trainee</servlet-name>
        <url-pattern>/admin/trainee/deactivate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Activate Trainee</servlet-name>
        <servlet-class>admin.controller.trainee.ActivateTrainee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Activate Trainee</servlet-name>
        <url-pattern>/admin/trainee/activate</url-pattern>
    </servlet-mapping>


    <!--Common-->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>common.controller.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>common.controller.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>


    <!--Filters-->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>common.controller.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SessionRequestFilter</filter-name>
        <filter-class>hibernate.SessionRequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!--Welcome-->
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
</web-app>
